{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TecnoHogar{% endblock %}</title>

    <!--Fuestes-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!--Estilos CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=10">
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}?v=10">
    <link rel="stylesheet" href="{% static 'css/style_product.css' %}?v=11">
    <link rel="stylesheet" href="{% static 'css/style_car.css' %}?v=11">
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}?v=11">
    <link rel="stylesheet" href="{% static 'css/style_register.css' %}?v=11">
    <link rel="stylesheet" href="{% static 'css/style_categorias.css' %}?v=30">

</head>

<body>

{% block navbar %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">

            <!-- ========== LOGO ========== -->
            <a class="navbar-brand" href="{% url 'home' %}">Tecno <span class="brand-highlight">Hogar</span></a>

             <!-- BUSCADOR EN TABLET -->
            <form class="d-none d-md-flex d-lg-none me-auto" role="search">
            <input class="form-control me-2 flex-grow-1" type="search" placeholder="Buscar productos..." aria-label="Buscar">
            <button class="btn btn-outline-teal" type="submit"><i class="fas fa-search"></i></button>
            </form>

            <!-- ========== BOTÓN HAMBURGUESA (MÓVIL/TABLET) ========== -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ========== CONTENEDOR COLAPSABLE (TODO EL MENÚ) ========== -->
            <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarMain">

                <!-- ========== SECCIÓN CATEGORÍAS ========== -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Categorías</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/categoria/laptops/">Laptops</a></li>
                            <li><a class="dropdown-item" href="/categoria/monitores/">Monitores</a></li>
                            <li><a class="dropdown-item" href="/categoria/perifericos/">Periféricos</a></li>
                            <li><a class="dropdown-item" href="/categoria/audio/">Audio</a></li>
                            <li><a class="dropdown-item" href="/categoria/tablets/">Tablets</a></li>
                            <li><a class="dropdown-item" href="/categoria/componentes/">Componentes</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- ========== SECCIÓN BARRA DE BÚSQUEDA ========== -->
                <form class="d-flex me-auto search-form" method="GET" action="{% url 'categorias' %}" role="search">
                    <input class="form-control me-2 flex-grow-1" type="search" name="q" placeholder="Buscar productos..." aria-label="Buscar">
                    <button class="btn btn-outline-teal" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

                <!--<label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
                <input type="checkbox" id="toggle">-->

                <!-- ========== SECCIÓN CREAR CUENTA / INICIAR SESIÓN / CARRITO ========== -->
                <ul class="navbar-nav ms-auto">

                    {% if user.is_authenticated %}

                        <li class="nav-item">
                            <span class="nav-link">Hola, {{ user.first_name }}</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login-button" href="{% url 'logout' %}">Cerra sesión</a>
                        </li>
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Crear cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login-button" href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                    {% endif %}

                        <li class="nav-item"><a class="nav-link cart-icon" href="{% url 'car' %}">
                            <i class="fas fa-shopping-cart"></i>
                            <span id="cart-count">{{ carrito.total_items }}</span></a>
                        </li>
                    
                        
                </ul>
            </div>

            <!-- Menú Móvil (Offcanvas) -->
            <div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="offcanvasNavbar">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title">TecnoHogar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <form class="d-flex mb-4" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar...">
                    <button class="btn btn-outline-teal" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Categorías</a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'categorias' %}">Laptops</a></li>
                        <li><a class="dropdown-item" href="{% url 'categorias' %}">Monitores</a></li>
                        <li><a class="dropdown-item" href="{% url 'categorias' %}">Periféricos</a></li>
                        <li><a class="dropdown-item" href="{% url 'categorias' %}">Audio</a></li>
                        <li><a class="dropdown-item" href="{% url 'categorias' %}">Tablets</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Crear cuenta</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
{% endblock %}

    <!-- Contenido Principal -->
    <main class="flex-fill">
        {% block content %}
        {% endblock %}
    </main>

<footer class="footer">
        <div class="footer-main">

            <!-- Empresa -->
            <div class="footer-container">
                <h6 class="footer-title">Empresa</h6>

                <ul class="footer-list">
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>
            </div>

            <!-- Productos -->
            <div class="footer-container">
                <h6 class="footer-title">Productos</h6>

                <ul class="footer-list">
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Monitores</a></li>
                    <li><a href="#">Periféricos</a></li>
                </ul>
            </div>

            <!-- Soporte -->
            <div class="footer-container">
                <h6 class="footer-title">Soporte</h6>

                <ul class="footer-list">
                    <li><a href="#">Centro de ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Garantías</a></li>
                </ul>
            </div>

            <!-- Redes -->
            <div class="footer-container">
                <h6 class="footer-title">Redes Sociales</h6>

                <div class="footer-social">
                    <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#"><i class="fab fa-whatsapp fa-lg"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
            </div>

        </div>
        
        <div class="footer-copy">
            <p>&copy; 2026 TecnoHogar - Todos los derechos reservados</p>
        </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>