{% extends 'store/base.html' %}
{% load static %} <!-- Permite usar archivos estáticos IMG, JS, CSS-->
{% load humanize %}
{% block title %}Carro de compras - TecnoHogar{% endblock %}
{% block content %}

<div class="main-container">
<div class="row g-4">

    <div class="col-lg-8">
        <!--Titulo-->
        <div class="car-title">
            <h1 class="title">Carrito de compras</h1>
            <p class="car-p">Revisa tus productos antes de finalizar la compra</p>
        </div>

        <!--Pestañas-->
        <div class="car-tabs">
            <p class="car-tabs-p">Producto</p>
            <p>Precio unitario</p>
            <p>Cantidad</p>
            <p>Subtotal</p>
        </div>

        <section class="container-car">
            {% for item in items %}
                <!-- Producto 1 del carrito -->
                <div class="card mb-3 cart-card">

                    <div class="row g-0 align-items-center cart-row">
                        
                        <div class="col-md-2">
                            {% if item.producto.imagen %}
                                <img src="{{ item.producto.imagen.url }}" class="img-fluid rounded-start cart-img" alt="{{ item.producto.nombre }}">
                            {% endif %}
                        </div>

                        <!-- Información producto -->
                        <div class="col-md-4"> 
                            <div class="card-body">
                                <h5 class="card-title">{{ item.producto.nombre }}</h5>
                                <p class="card-text">{{ item.producto.marca }} · {{ item.producto.categoria.nombre }}</p>
                                <p class="card-text">
                                    <small class="text-body-secondary"> 
                                        {{ item.producto.descripcion_corta }} 
                                    </small>
                                </p>
                            </div>
                        </div> 

                        <!-- Precio, cantidad, subtotal, eliminar -->
                        <div class="col-md-6">
                            <div class="cart-number">

                                <!-- Parte 2: precio unitario -->
                                <p class="cart-price">{{ item.producto.precio|floatformat:0|intcomma }}</p>
                        
                                <!-- Parte 3: cantidad -->
                                <div class="cart-quantity">
                                    <!--<button>-</button>-->
                                    <a href="{% url 'disminuir_cantidad' item.id %}">
                                        <i class="bi bi-dash"></i>
                                    </a>
                                    <span> {{ item.cantidad }} </span>
                                    <a href="{% url 'aumentar_cantidad' item.id %}">
                                        <i class="bi bi-plus-lg"></i>
                                    </a>
                                    <!--<button>+</button>-->
                                </div>
                        
                                <!-- Parte 4: subtotal -->
                                <p class="cart-subtotal">{{ item.subtotal|floatformat:0|intcomma }}</p>

                                <!-- Parte 5: basura -->
                                <a href="{% url 'eliminar_item_carrito' item.id %}">  
                                    <i class="bi bi-trash"></i>
                                </a> 
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </section>


        <!--BENEFICIOS-->
        <section class="cart-benefits  benefits-pc">
            <div class="card mb-3">     
                <div class="benefits-list">

                    <div class="benefits-body">
                        <i class="bi bi-shield-check benefits-icon"></i>
                        <div>
                            <h5 class="benefits-title">Compra segura</h5>
                            <p class="benefits-text">Tus datos están protegidos con encriptación SSL.</p>
                        </div>
                    </div>

                    <div class="benefits-body">
                        <i class="bi bi-truck benefits-icon"></i>
                        <div>
                            <h5 class="benefits-title">Envío gratis</h5>
                            <p class="benefits-text">En compras mayores a $50 mil</p>
                        </div>
                    </div>

                    <div class="benefits-body">
                        <i class="bi bi-award benefits-icon"></i>
                        <div>
                            <h5 class="benefits-title">Garantía oficial</h5>
                            <p class="benefits-text">Productos 100% originales con garantía del fabricante.</p>
                        </div>
                    </div>

                    <div class="benefits-body">
                        <i class="bi bi-headset benefits-icon"></i>
                        <div>
                            <h5 class="benefits-title">Soporte 24/7</h5>
                            <p class="benefits-text">Asistencia personalizada cuando la necesites.</p>                    
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--MÉTODO DE PAGO-->
        <section class="payment-methods payment-pc">
            <div class="card mb-3 payment-card" >

                <h3 class="payment-title"> Métodos de pago aceptados</h3>
                    <div class="col-md-4 payment-img">

                        <div class="payment-item">
                        <img src="{% static 'img/payment/visa2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/master2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/American2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/paypal2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/nequi2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/bre-b2.png' %}" class="payment-logo" alt="...">
                        </div>
                    </div>              
            </div>
        </section>

    </div>


    <div class="col-lg-3">
        <!--RESUMEN COMPRAS-->
        <section class="cart-summary">
            <h3 class="summary-title">Resumen de compra</h3>

            <div class="summary-subtotal">
                <p>(Subtotal {{ items|length }} productos)</p>
                <p> $ {{ carrito.total|floatformat:0|intcomma }}</p>
            </div>
            <div class="summary-descuento">
                <p>Descuento</p>
                <p>$ - {{ carrito.descuento|floatformat:0|intcomma }}</p>
            </div>
            <div class="summary-envio">
                <p>Envio</p>
                <p class="summary-free">Gratis</p>
            </div>
            <div class="summary-total">
                <p>Total a pagar</p>
                <p class="summary-total-p">$ {{ carrito.total|floatformat:0|intcomma }}</p>
            </div>

            <input type="text" class="coupon-input" placeholder="Ingresa tu cupón de descuento">
            <button class="btn-cupon">Aplicar cupón</button>
            <button class="btn-compraf"><i class="bi bi-lock"></i> Finalizar compra</button>
            <a href="{% url 'categorias' %}">
                <button class="btn-Scompra"><i class="bi bi-arrow-left"></i> Seguir comprando</button>
            </a>
        </section>

        <!--BENEFICIOS-->
        <section class="cart-benefits benefits-movil">
            <div class="card mb-3">     
                <div class="benefits-list">

                    <div class="benefits-body">
                        <i class="bi bi-shield-check benefits-icon"></i>
                        <div>
                            <h5 class="benefits-title">Compra segura</h5>
                            <p class="benefits-text">Tus datos están protegidos con encriptación SSL.</p>
                        </div>
                    </div>

                    <div class="benefits-body">
                        <i class="bi bi-truck benefits-icon"></i>
                        <div>
                            <h5 class="benefits-title">Envío gratis</h5>
                            <p class="benefits-text">En compras mayores a $50 mil</p>
                        </div>
                    </div>

                    <div class="benefits-body">
                        <i class="bi bi-award benefits-icon"></i>
                        <div>
                            <h5 class="benefits-title">Garantía oficial</h5>
                            <p class="benefits-text">Productos 100% originales con garantía del fabricante.</p>
                        </div>
                    </div>

                    <div class="benefits-body">
                        <i class="bi bi-headset benefits-icon"></i>
                        <div>
                            <h5 class="benefits-title">Soporte 24/7</h5>
                            <p class="benefits-text">Asistencia personalizada cuando la necesites.</p>                    
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--MÉTODO DE PAGO-->
        <section class="payment-methods  payment-movil">
            <div class="card mb-3 payment-card" >

                <h3 class="payment-title"> Métodos de pago aceptados</h3>
                    <div class="col-md-4 payment-img">

                        <div class="payment-item">
                        <img src="{% static 'img/payment/visa2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/master2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/American2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/paypal2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/nequi2.png' %}" class="payment-logo" alt="...">
                        </div>

                        <div class="payment-item">
                        <img src="{% static 'img/payment/bre-b2.png' %}" class="payment-logo" alt="...">
                        </div>
                    </div>              
            </div>
        </section>
    </div>
</div>
</div>

{% endblock %}