{% extends 'store/base.html' %}
{% load static %} <!-- Permite usar archivos estáticos IMG, JS, CSS-->
{% load humanize %}
{% block title %}Categorias - TecnoHogar{% endblock %}
{% block content %}

<section class="filters-sidebar-title">

    <nav class="product-breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'categorias' %}">Categorias</a></li>
            <li class="breadcrumb-item active" aria-current="page">Laptop</li>
        </ol>
    </nav>

   <div class="filters-header">

        {% if query %}
            <h2 class="filters-title">Resultado para "{{ query }}"</h2>
            <p class="filters-subtitle">Productos encontrados según tu búsqueda.</p>

        {% elif categorias %}
            <h2 class="filters-title"> {{ categoria.nombre }}</h2>
            <p class="filters-subtitle">{{ categoria.descripcion }}</p>

        {% else %}
            <h2 class="filters-title"> Todos los producto </h2>
            <p class="filters-subtitle">Explora todos los productos disponibles en TecnoHogar.</p>
        {% endif %}

    </div> 

</section>

<div class="categories-page">
    <div class="row">

        <div class="col-lg-3">
            <section class="filters-sidebar">
                <button class="filter-btn" type="button" data-bs-toggle="collapse" data-bs-target="#filtrosCategorias">
                    Filtros
                    <i class="bi bi-sliders"></i>
                </button>
                
                <div class="collapse" id="filtrosCategorias">

                    <div class="accordion-item filter-brand filter-group">
                    
                        <h2 class="accordion-header">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#brandFilter">
                                Marca
                            </button>
                        </h2>
                    
                        <div id="brandFilter" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                    
                                <label class="filter-option">
                                    <input type="checkbox"> HP (45)
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Lenovo (28)
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Dell (32)
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Asus (21)
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Acer (21)
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Apple (15)
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Samsung (12)
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Huawei (9)
                                </label>
                    
                                <a href="#" class="detail-link">Ver más</a>
                    
                            </div>
                        </div>
                    
                    </div>

                    <div class="accordion-item filter-precio filter-group">
                    
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#precioFilter">
                                Precio
                            </button>
                        </h2>
                    
                        <div id="precioFilter" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <p class="price-range-text">$10.000 - $15.000.000</p>
                                <input type="range" class="form-range price-range" min="10000" max="15000000" value="8000000">
                                
                                <label class="filter-option">
                                    <input type="checkbox"> Menos de $1.000.000
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> $1.000.000 - $3.000.000
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> 3.000.000 - $5.000.000
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Más de $5.000.000
                                </label>
                                <a href="#" class="detail-link">Ver más</a>
                    
                            </div>
                        </div>
                    
                    </div>

                    <div class="accordion-item filter-processor filter-group">
                    
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#processorFilter">
                                Procesador
                            </button>
                        </h2>
                    
                        <div id="processorFilter" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                
                                <label class="filter-option">
                                    <input type="checkbox"> Intel core i
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> AMD Ryzen 3
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> Apple M1
                                </label>
                                
                                <a href="#" class="detail-link">Ver más</a>
                    
                            </div>
                        </div>
                    
                    </div>

                    <div class="accordion-item filter-ram filter-group">
                    
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ramFilter">
                                Memoria RAM
                            </button>
                        </h2>
                    
                        <div id="ramFilter" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                    
                                <label class="filter-option">
                                    <input type="checkbox"> 8GB
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> 16GB
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> 32GB
                                </label>
                                <label class="filter-option">
                                    <input type="checkbox"> 64GB
                                </label>
                    
                                <a href="#" class="detail-link">Ver más</a>
                    
                            </div>
                        </div>
                    
                    </div>

                    <div class="accordion-item filter-storage filter-group">
                    
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#storageFilter">
                                Almacenamiento
                            </button>
                        </h2>
                    
                        <div id="storageFilter" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                    
                                <label class="filter-option">
                                    <input type="checkbox"> 128 GB
                                </label>
                    
                                <label class="filter-option">
                                    <input type="checkbox"> 256 GB
                                </label>
                    
                                <label class="filter-option">
                                    <input type="checkbox"> 512 GB
                                </label>
                    
                                <label class="filter-option">
                                    <input type="checkbox"> 1T
                                </label>
                    
                                <label class="filter-option">
                                    <input type="checkbox"> 2T
                                </label>
                    
                                <a href="#" class="detail-link">Ver más</a>
                    
                            </div>
                        </div>
                    
                    </div>

                </div>

            </section>
        </div>


        <div class="col-lg-9">
            <section class="products-area">

                <div class="products-toolbar">
                    <p class="products-count">{{ cantidad_productos}} productos encontrados</p>

                    <form method="GET" class="products-tool">

                        {% if query %}
                            <input type="hidden" name="q" value="{{ query }}">
                        {% endif %}
                        
                        <p class="products-sort">Ordenado por:</p>

                        <select  id="orden" name="orden" class="dropdown" onchange="this.form.submit()">
                            <option value="recientes" {% if orden == 'recientes' %} selected {% endif %}> Más recientes</option>
                            <option value="antiguos" {% if orden == 'antiguos' %} selected {% endif %}>  Más antiguos</option>
                            <option value="populares" {% if orden == 'populares' %} selected {% endif %}> Más populares</option>
                        </select>
                        
                    </form>

                </div>

                <section class="main-category-card">
                    {% for producto in productos %}
                    <a href="{{ producto.get_absolute_url }}" class="category-link">
                        <div class="category-card">
                            {% if producto.imagen %}
                                <img src="{{ producto.imagen.url }}" class="category-img" alt="">
                            {% endif %}
                            <div class="card-body">
                                <p class="category-brand">{{ producto.marca}}</p>
                                <h5 class="category-name">{{ producto.nombre}}</h5>
                                <p class="category-specs">{{ producto.descripcion_corta}}</p>
                                <ul class="category-price-list ">
                                    <li class="category-old-price">{{ producto.precio_anterior|floatformat:0|intcomma }}</li>
                                    <li class="category-new-price">{{ producto.precio|floatformat:0|intcomma }}</li>
                                </ul>
                                <p class="category-rating">⭐ {{ producto.rating }}</p>
                                <div class="category-buttons">
                                    <a href="{% url 'agregar_carrito' producto.id %}" class="category-cart-btn btn btn-primary">Agregar <i class="bi bi-cart"></i></a>
                                    <a href="{{ producto.get_absolute_url }}" class="category-detail-link">Ver detalle <i class="bi bi-arrow-right-short"></i></a>                       
                                </div>
                                </div>
                        </div>
                    </a>
                    {% endfor %}
                </section>
                
            </section>
        </div>

    </div>
</div>

{% endblock %}
