{% extends 'store/base.html' %}
{% load static %} <!-- Permite usar archivos estáticos IMG, JS, CSS-->
{% load humanize %}
{% block title %}Inicio - TecnoHogar{% endblock %}
{% block content %}


<!-- ==================== CARRUSEL SECTION ==================== -->

<div class="main-carrusel">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/carousle_1.png' %}" class="d-block w-100" alt="banner 1">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/carousle_2.png' %}" class="d-block w-100" alt="banner 2">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/carousle_3.png' %}" class="d-block w-100" alt="banner 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  <!-- ==================== CATEGORIAS ==================== -->

  <h4 class="categories-title">Categorías</h4>

  <section class="container-categ">

    <a href="{% url 'categorias' %}" class="categ-link">
      <div class="card categ-card">
        <i class="bi bi-laptop categ-icon"></i>
        <div class="categ-body">
          <h5 class="categ-name">Laptops</h5>
        </div>
      </div>
    </a>

    <a href="{% url 'categorias' %}" class="categ-link">
      <div class="card categ-card">
        <i class="bi bi-laptop categ-icon"></i>
        <div class="categ-body">
          <h5 class="categ-name">Monitores</h5>
        </div>
      </div>
    </a>
    

    <a href="{% url 'categorias' %}" class="categ-link">
      <div class="card categ-card">
        <i class="bi bi-keyboard categ-icon"></i>
        <div class="categ-body">
          <h5 class="categ-name">Perifericos</h5>
        </div>
      </div>
    </a>
    


    <a href="{% url 'categorias' %}" class="categ-link">
      <div class="card categ-card">
        <i class="bi bi-headphones categ-icon"></i>
        <div class="categ-body">
          <h5 class="categ-name">Audio</h5>
        </div>
      </div>
    </a>
    


    <a href="{% url 'categorias' %}" class="categ-link">
      <div class="card categ-card">
        <i class="bi bi-tablet categ-icon"></i>
        <div class="categ-body">
          <h5 class="categ-name">Tablets</h5>
        </div>
      </div>
    </a>
    


    <a href="{% url 'categorias' %}" class="categ-link">
      <div class="card categ-card">
        <i class="bi bi-cpu categ-icon"></i>
        <div class="categ-body">
          <h5 class="categ-name">Componentes</h5>
        </div>
      </div>
    </a>
  </section>

  <!-- ==================== CARD PROMOS ==================== -->

  <h4 class="promos">
    <i class="bi bi-stopwatch promos-icon"></i>
    Ofertas especiales
  </h4>

  <section class="ofertas">
    {% for producto in productos %}
    {% if producto.oferta %}
      <a href="{{ producto.get_absolute_url }}" class="product-link">
        <div class="card product-card">
        
          {% if producto.imagen %}
          <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
          {% endif %}
        
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
        
            <ul class="card-ul">
              {% if producto.precio_anterior %}
              <li class="old-price">$ {{ producto.precio_anterior|floatformat:0|intcomma }}</li>
              {% endif %}
        
              <li class="new-price">$ {{ producto.precio|floatformat:0|intcomma }}</li>
            </ul>
        
            <a href="{% url 'car' %}" class="btn btn-primary ofertas-btn">Agregar al carrito</a>
          </div>
        
        </div>
      </a>
    {% endif %}
    {% endfor %}
  </section>

  <!-- ==================== CARD DESTACADOS ==================== -->

  <h4 class="promos">Productos destacados</h4>

  <section class="ofertas">
    {% for producto in productos %}
      {% if producto.destacado %}
        <a href="{{ producto.get_absolute_url }}" class="product-link">
          <div class="card product-card" >

            {% if producto.imagen %}
              <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
            {% endif %}

            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
            
              <ul class="card-price">
                <li class="desta-price">$ {{ producto.precio|floatformat:0|intcomma }}</li>
              </ul>
            
              <a href="{% url 'car' %}" class="btn btn-primary ofertas-btn">Agregar al carrito</a>
            </div>
            
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </section>


{% endblock %}