{% extends 'store/base.html' %}
{% load static %} <!-- Permite usar archivos estáticos IMG, JS, CSS-->
{% load humanize %}
{% block title %}Detalle producto - TecnoHogar{% endblock %}
{% block content %}


<nav class="product-breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">

  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'categorias' %}">Laptop</a></li>
    <li class="breadcrumb-item"><a href="#">{{producto.marca}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{producto.nombre}}</li>

  </ol>

</nav>

<div class="container product-detail">
  <div class="row">
    <div class="col-lg-7">

        <!-- Contenedor de toda la galeria -->
        <div class="product-gallery">
            <!-- Miniaturas -->
            <div class="product-miniaturas">
            
                <div class="miniatura-item">
                    <img class="miniatura-img" src="{% static 'img/Miniaturas/Laptop/min1.png' %}" alt="">
                </div>
            
                <div class="miniatura-item">
                    <img class="miniatura-img" src="{% static 'img/Miniaturas/Laptop/min2.png' %}" alt="">
                </div>
            
                <div class="miniatura-item">
                    <img class="miniatura-img" src="{% static 'img/Miniaturas/Laptop/min3.png' %}" alt="">
                </div>
            
                <div class="miniatura-item">
                    <img class="miniatura-img" src="{% static 'img/Miniaturas/Laptop/min4.png' %}" alt="">
                </div>
            </div>

        <!-- Imagen principal -->
            <div class="product-imagen">
                <!-- Imagen producto -->
                <div class="main-image">
                    {% if producto.imagen %}
                        <img class="main-product-img" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    {% endif %}
                </div>

                <!-- Specs rápidas -->
                <div class="product-specs">
                    <div class="spec-item">{{ producto.memoria_ram }}</div>
                    <div class="spec-item">{{ producto.almacenamiento }}</div>
                    <div class="spec-item">{{ producto.pantalla }}</div>
                </div>

            </div>
        </div>    
        
    </div> 

    <!-- INFORMACION -->
    <div class="col-lg-4">
    <!-- Información producto -->
        <div class="product-info">

            <!-- Marca=brand -->
            <P class="product-brand"> {{ producto.marca }} </P>
            
            <!-- Nombre producto -->
            <h1 class="product-title"> {{ producto.nombre }} </h1>

            <!-- Descripción corta -->
            <p class="product-description"> {{ producto.descripcion_corta }} </p>

            <!-- Rating -->
            <div class="product-rating">
                ⭐⭐⭐⭐⭐
                <span>{{ producto.rating }} ({{ producto.num_resenas }} reseñas)</span>
            </div>

            <!-- Precio antiguo -->
            {% if producto.precio_anterior %}
                <span class="old-price"> {{ producto.precio_anterior|floatformat:0|intcomma }} </span>
            {%endif%}

            <!-- Precio actual -->
            <h2 class="new-prices"> {{ producto.precio|floatformat:0|intcomma }} </h2>

            <!-- Stock -->
            <div class="product-stock">
                <h6>✔ En stock</h6> 
                <p class="product-envio">🚚 Envío gratis</p>
            </div>        

            <!-- Botones de compra --> 
            <div class="product-actions">
                <!-- Cantidad --> 
                <div class="product-cantidad">
                    <p>Cantidad :</p>
                    <button class="cantidad-btn">-</button>
                    <span class="cantidad-numero">1</span>
                    <button class="cantidad-btn">+</button>
                </div>

                <a href="{% url 'car' %}" class="btn add-cart-btn">Agregar al carrito</a>
                <a href="{% url 'car' %}" class="btn buy-now-btn">Comprar ahora</a>
            </div>

            <div class="product-garantia">
                <p>✔ Compra segura</p> 
                <p>🏅 Garantía oficial</p>
            </div>  

        </div>
    </div>

  </div>
</div>

<!-- PESTAÑA DE PRODUCTOS -->
<div class="product-tabs">
    <p>Descripción</p>
    <p>Especificaciones</p>
    <p>Reseñas {{ producto.num_resenas }}</p>
    <p>Envios y devoluciones</p>
</div>

<section class="product-details-info container">
    <div class="row g-4">

        <!-- Card descripción -->
        <div class="col-lg-5">
            <div class="info-card">
                <h5 class="info-title">Rendimiento confiable para tu día a día.</h5>

                <p class="info-text">{{ producto.descripcion }}</p>

                <ul class="info-list">
                    <li>{{ producto.beneficios }}</li>
                </ul>
            </div>
        </div>

        <!-- Card características -->
        <div class="col-lg-4">
            <div class="info-card">
                <h5 class="info-title">Características destacadas</h5>

                <ul class="feature-list">
                    <li>💻 <strong>Pantalla</strong><br><span>{{producto.pantalla }}</span></li>
                    <li>⚙️ <strong> Procesador {{producto.procesador }}</strong><br><span>{{producto.procesador_descripcion }}</span></li>
                    <li>💾 <strong> {{producto.memoria_ram }}</strong><br><span>{{producto.memoria_ram_descripcion }}</span></li>
                    <li>🚀 <strong> {{producto.almacenamiento }}</strong><br><span>{{producto.almacenamiento_descripcion }}</span></li>
                    <li>🔋 <strong>Diseño</strong><br><span> {{producto.diseno }}</span></li>
                </ul>
            </div>
        </div>

        <!-- Card información adicional -->
        <div class="col-lg-3">
            <div class="info-card">
                <h5 class="info-title">Información adicional</h5>

                <p class="info-extra"><strong>Marca:</strong> {{producto.marca}}</p>
                <p class="info-extra"><strong>Serie:</strong> {{producto.serie }} </p>
                <p class="info-extra"><strong>Modelo:</strong> {{producto.modelo }} </p>
                <p class="info-extra"><strong>Procesador:</strong> {{producto.procesador }} </p>
                <p class="info-extra"><strong>Memoria:</strong> {{producto.memoria_ram }} </p>
                <p class="info-extra"><strong>Almacenamiento:</strong> {{producto.almacenamiento }} </p>
                <p class="info-extra"><strong>Garantía:</strong> {{producto.garantia }} </p>
            </div>
        </div>

    </div>

</section>

<!-- PRODUCTOS RELACIONADOS -->
<section class="container">
    <h4 class="related-title">Productos relacionados</h4>

    <div class="related-products">
        
        {% for relacionado in productos_relacionados %}
            <div class="card related-card">

                {% if relacionado.imagen %}
                    <img src="{{ relacionado.imagen.url }}" class="related-img" alt="{{ relacionado.nombre }}">
                {% endif %}

                <div class="card-body">
                    <h5 class="related-card-title">{{ relacionado.nombre }}</h5>

                    <ul class="related-price-list">
                        {% if relacionado.precio_anterior %}
                            <li class="old-price-1">$ {{ relacionado.precio_anterior|floatformat:0|intcomma }}</li>
                        {% endif %}

                        <li class="new-price-1">$ {{ relacionado.precio|floatformat:0|intcomma }}</li>
                    </ul>

                    <a href="{{ relacionado.get_absolute_url }}" class="btn btn-primary ofertas-btn">Ver detalle</a>
                </div>
            </div>
        {% endfor %}

    </div>
</section>

<!-- OPINIONES DE CLIENTES -->
<section class="seccion-opiniones container">
    <div class="row g-4">
        <div class="col-lg-3">
            <div class="reviews-summary-card">

                <h4 class="reviews-title">Opniones de clientes</h4>

                <div class="reviews-score">
                    <span class="score-number">{{ producto.rating }} </span>
                    <span class="score-stars">⭐⭐⭐⭐⭐</span>
                </div>

                <p class="reviews-based">Basado en {{ producto.num_resenas }}</p>
                <!--rating-5-->
                <div class="rating-bars">
                    <div class="rating-row">
                        <span>5 estrellas</span>
                        <div class="rating-bar">
                            <div class="rating-fill rating-5"></div>
                        </div>
                        <span>82%</span>
                    </div>
                </div>
                <!--rating-4-->
                <div class="rating-bars">
                    <div class="rating-row">
                        <span>4 estrellas</span>
                        <div class="rating-bar">
                            <div class="rating-fill rating-4"></div>
                        </div>
                        <span>10%</span>
                    </div>
                </div>
                <!--rating-3-->
                <div class="rating-bars">
                    <div class="rating-row">
                        <span>3 estrellas</span>
                        <div class="rating-bar">
                            <div class="rating-fill rating-3"></div>
                        </div>
                        <span>5%</span>
                    </div>
                </div>
                <!--rating-2-->
                <div class="rating-bars">
                    <div class="rating-row">
                        <span>2 estrellas</span>
                        <div class="rating-bar">
                            <div class="rating-fill rating-2"></div>
                        </div>
                        <span>2%</span>
                    </div>
                </div>
                <!--rating-1-->
                <div class="rating-bars">
                    <div class="rating-row">
                        <span>1 estrellas</span>
                        <div class="rating-bar">
                            <div class="rating-fill rating-1"></div>
                        </div>
                        <span>1%</span>
                    </div>
                </div>

                <button class="reviews-btn">Escribir una reseña</button>

            </div>
        </div>

        <div class="col-lg-9">
            <div class="users">

                <div class="user-line">
                    <div class="user-nom">
                        <div class="user-icon">JP</div>
                        <h4 class="user-h4">Juan Perez</h4>
                        <p class="user-p">Compra verificada</p>
                    </div>
                    <span class="user-stars">⭐⭐⭐⭐⭐</span>

                    <h5 class="user-title">Excelente rendimiento</h5>
                    
                    <div class="user-imagen">

                        <p class="users-p">La laptop es increible, corre todos los juegos en ultra sin problemas. La pantalla 144Hz
                        se nota demasiado. Muy recomendada.</p>
                    

                        <img src="{% static 'img/Miniaturas/Laptop/min1.png' %}" class="user-img" alt="">
                        <img src="{% static 'img/Miniaturas/Laptop/min1.png' %}" class="user-img" alt="">
                        <img src="{% static 'img/Miniaturas/Laptop/min1.png' %}" class="user-img" alt="">
                    </div>
                </div>

                <div class="user-line">
                    <div class="user-nom">
                        <div class="user-icon">MR</div>
                        <h4 class="user-h4">Maria Rodíguez</h4>
                        <p class="user-p">Compra verificada</p>
                    </div>
                    <span class="user-stars">⭐⭐⭐⭐</span>

                    <h5 class="user-title">Muy buena calidad</h5>
                    
                    <div class="user-imagen">
                        <p class="users-p">Muy buena laptop, rápida y silenciosa. La bateria dura lo suficiente para trabajar
                        y estudiar. La recomiendo.</p>
                     </div>
                </div>

                <div class="user-line">
                    <div class="user-nom">
                        <div class="user-icon">LC</div>
                        <h4 class="user-h4">Luis Castillo</h4>
                        <p class="user-p">Compra verificada</p>
                    </div>
                    <span class="user-stars">⭐⭐⭐⭐⭐</span>

                    <h5 class="user-title">Potencia brutal</h5>
                    
                    <div class="user-imagen">
                        <p class="users-p">El procesador y la gráfica son brutales. Ideal para edicion de video y gaming</p>
                        
                        <div class="review-images">
                            <img src="{% static 'img/Miniaturas/Laptop/min3.png' %}" class="user-img" alt="">
                            <img src="{% static 'img/Miniaturas/Laptop/min3.png' %}" class="user-img" alt="">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div> 
</section>


{% endblock %}