.filters-sidebar-title {
    padding: 0 20px 0 20px;
}

.filters-title {
    /*font-size: ;*/
    font-weight: bold;
}

.filters-subtitle {
    color: #666;
    font-size: 13px;
}

/* ===============================  CONTENEDOR PRINCIPAL: =============================== */

.categories-page {
    /*height: 100vh;*/
    padding: 20px;
}

.filtro {
    padding: 15px;
    background-color: antiquewhite;
    border: 1px solid #ddd;
    border-radius: 12px;
}

/* ===============================  FILTROS: =============================== */

.filters-sidebar {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    padding: 20px;
    height: auto;
    margin-bottom: 20px;
}

.filters-sidebar button{
    font-weight: bold;
}

.filter-btn {
    padding: 15px;
    background-color: white;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.filter-btn i {
    color: #009970;
}

.accordion-header {
    padding: 15px;
    background-color: white;
    border: none;
    width: 100%;
    /*border: 1px solid #ddd;*/
}

.accordion-header button {
    font-weight: bold;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #ddd;
}

.filter-option {
    display: flex;
    font-size: 15px;
    gap: 10px;
}

.filter-option input[type="checkbox"] {
    accent-color: #009970;
    cursor: pointer;
}

.detail-link {
    color: #009970;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}



/* ===============================  ORDENAR POR: =============================== */
.products-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    font-size: 15px;
}

.products-count,
.products-sort {
    margin: 0;
}

.products-tool {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown {
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}

@media (max-width:768px) {
    .products-count {
        display: none;
    }
    .products-tool {
        gap: 70px;
    }
}

/* ===============================  CATEGORIAS CARD =============================== */
.main-category-card {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    cursor: pointer;
}

.category-link {
  display: block;          /* que se comporte como un div */
  text-decoration: none;   /* quita subrayado */
  color: inherit;          /* hereda el color del texto */
}


.category-card {
    width: calc(24% - 15px); /* 4 por fila */
    border: 1px solid #ddd;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}

.category-img {
    margin: 10px;
    height: 140px;
    object-fit: contain;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.category-brand {
    color: #666;
    font-size: 12px;
}

.category-name {
    font-size: 17px;
}

.category-specs {
    font-size: 12px;
    color: #666;
}

.category-price-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.category-old-price {
    color: #666;
    font-size: 12px;
    text-decoration: line-through;
}

.category-new-price {
    color: red;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
}

.category-buttons {
    display: flex;
    flex-direction: column;
}

.category-cart-btn {
    background-color: #009970;
    width: 100%;
    border: none;
    padding: 10px;
}

.category-cart-btn:hover {
    background-color: #078664;
}

.category-detail-link {
    margin-top: 10px;
    color: #009970;
    font-size: 14px;
}

/* ================================== ( Movil ) ===================================== */
@media (max-width: 768px) {

    .main-category-card {
        gap: 5px;
    }
    .category-card {
        width: calc(100% - 15px);
        min-width: 0;
    }
    .category-img {
        height: 150px;
        object-fit: contain;
    }
    .category-brand {
        font-size: 11px;
    }
    .category-name {
        font-size: 18px;
    }
    .category-price-list {
        display: flex;
        flex-direction: column;
    }
    .category-old-price {
        color: #666;
        font-size: 14px;
        text-decoration: line-through;
    }
    .category-new-price {
        font-size: 20px;
        margin-top: 10px;
    }
    .category-rating {
        font-size: 14px;
    }
    .category-cart-btn {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
}



