/* ====================== CARRUCEL ====================== */
.main-carrusel {
    margin-top: 60px;
}

.carousel-item img{
    width: 100%;    /* Ocupa todo el ancho */
    height: 380px;  /* Altura fija pc */
}

@media (max-width: 768px) {

    .carousel-item img {
        height: 220px; /* Altura más pequeña para celular */
        object-position: center; /* Centra la imagen */
    }
}

/* ====================== CATEGORIAS ====================== */
.categories-title, .promos {
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

.container-categ {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center; 
    flex-wrap: wrap;
}

.categ-card {
    width: calc(13% - 40px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.10);
    cursor: pointer;
    transition: 0.3s;
}

.categ-card:hover {
    transform: translateY(-5px);
}

.categ-icon {
    font-size: 50px;
    padding: 10px;
}

.categ-name {
    font-size: 16px;
    padding-bottom: 10px;
}


/* ====================== CARD PROMOS ====================== */
.ofertas {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.product-card {
    display: flex;
    width: calc(20% - 40px);
    /*flex-wrap: wrap;*/
}

.card-img-top {
    height: 130px;
    object-fit: contain;
    padding: 5px 5px 0px 5px;
    margin-bottom: 10px;
}

.card-title {
    font-weight: 600;
    font-size: 14px !important ;  
    padding-bottom: 0;
    min-height: 32px;
}

.card-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.old-price {
    color: gray;
    text-decoration: line-through;
    font-size: 12px;
}

.new-price {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.ofertas-btn {
    width: 100%;
    background-color: #009970;
    cursor: pointer;
    border: none;
    padding: 10px;
}

.ofertas-btn:hover {
    background-color: #017b5b;
}

/* ====================== CARD DESTACADOS ====================== */
.card-price {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    align-self: center;
}

.desta-price {
    font-weight: bold;
    font-size: 20px;
}