.filters-sidebar-title {
    padding: 0 20px 0 20px;
}

.filters-title {
    /*font-size: ;*/
    font-weight: bold;
}

.filters-subtitle {
    color: #666;
    font-size: 13px;
}

/* ===============================  CONTENEDOR PRINCIPAL: =============================== */

.categories-page {
    /*height: 100vh;*/
    padding: 20px;
}

.filtro {
    padding: 15px;
    background-color: antiquewhite;
    border: 1px solid #ddd;
    border-radius: 12px;
}

/* ===============================  FILTROS: =============================== */

.filters-sidebar {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    padding: 20px;
    height: auto;
    margin-bottom: 20px;
}

.filters-sidebar button{
    font-weight: bold;
}

.filter-btn {
    padding: 15px;
    background-color: white;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.filter-btn i {
    color: #009970;
}

.accordion-header {
    padding: 15px;
    background-color: white;
    border: none;
    width: 100%;
    /*border: 1px solid #ddd;*/
}

.accordion-header button {
    font-weight: bold;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #ddd;
}

.filter-option {
    display: flex;
    font-size: 15px;
    gap: 10px;
}

.filter-option input[type="checkbox"] {
    accent-color: #009970;
    cursor: pointer;
}

.detail-link {
    color: #009970;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}



/* ===============================  ORDENAR POR: =============================== */
.products-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    font-size: 15px;
}

.products-count,
.products-sort {
    margin: 0;
}

.products-tool {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown {
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}

@media (max-width:768px) {
    .products-count {
        display: none;
    }
    .products-tool {
        gap: 70px;
    }
}

/* ===============================  CATEGORIAS CARD =============================== */
.main-category-card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.category-card{
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    height: 100%;
    width: calc(25% - 15px);
}

.category-img {
    height: 130px;
    object-fit: contain;
    padding: 5px 5px 0px 5px;
}

.card-body {
    text-align: left;
}

.category-brand {
    color: #666;
    font-size: 13px;
    margin-top: -20px;
}

.category-name {
    font-size: 16px;
    font-weight: 600;
    margin-top: -5px;
}

.category-specs {
    font-size: 11px;
    color: #666;
    /*margin-top: -5px;*/
}

.category-price-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap:  30px;
}

.category-old-price {
    text-decoration: line-through;
    color: #666;
    font-size: 12px;
}

.category-new-price {
    color: red;
    /*font-size: 15px;*/
    font-weight: 600;
}

.category-rating {
    font-size: 14px;
}

.category-buttons {
    display: flex;
    justify-content: space-between;
}

.category-cart-btn {
    background-color: #009970;
    border: none;
    width: 55%;
    font-size: 12px;
    font-weight: 600;
}

.category-cart-btn:hover {
    background-color: #047b5b;
}

.category-detail-link {
    font-size: 13px;
    text-decoration: none;
    color: #009970;
    font-weight: 600;
    margin-bottom: 5px;
}

.category-detail-link:hover {
    text-decoration: underline;
}

/* ===============================  CATEGORIAS CARD (Movil) =============================== */
@media (max-width: 991px) {
    .main-category-card {
        gap: 15px;
    }
    .category-card {
        width: calc(33% - 10px); /* 2 cards por fila en tablet vertical */
    }
     .category-buttons {
        display: flex;
        flex-direction: column;
    }
    .category-cart-btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .category-detail-link {
        font-size: 16px;
    }   
}

@media (max-width:768px) {
    .category-card {
        width: calc(100% - 10px);
        margin-bottom: -15px;
    }
    .category-img  {
        height: 130px;
        object-fit: contain;
        padding: 5px 5px 0px 5px;
    }
    .category-price-list {
        display: flex;
        flex-direction: column;
    }
    .category-new-price {
        margin-top: -25px;
        font-size: 20px;
    }
    .category-buttons {
        display: flex;
        flex-direction: column;
    }
    .category-cart-btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

/* ===============================  CATEGORIAS CARD (Tablet) =============================== */
@media (min-width: 992px) {
    #filtrosCategorias {
        display: block;
    }
    .category-price-list {
        display: flex;
        flex-direction: column;
    }
    .category-new-price {
        margin-top: -25px;
        font-size: 20px;
    }
    .category-buttons {
        display: flex;
        flex-direction: column;
    }
    .category-cart-btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

