/* ====================== CARRUCEL ====================== */
.main-carrusel {
    margin-top: 60px;
}

.carousel-item img{
    width: 100%;    /* Ocupa todo el ancho */
    height: 380px;  /* Altura fija pc */
}

@media (max-width: 768px) {

    .carousel-item img {
        height: 220px; /* Altura más pequeña para celular */
        object-position: center; /* Centra la imagen */
    }
}

/* ====================== CATEGORIAS ====================== */
.categories-title {
    text-align: center;
    padding: 30px;
    color: #009970;
    font-weight: 700;
}

.categ-link {
    text-decoration: none;
}

.container-categ {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.categ-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
    transition: 0.5s;
}

.categ-card:hover {
    transform: translateY(-8px);
}

.categ-icon {
    font-size: 50px;
}

.categ-name {
    font-size: 15px;
    color: #009970;
    font-weight: 700;
}

@media (max-width: 768px) {
    .container-categ {
        display: flex;
        flex-wrap: wrap;  
        gap: 20px;
        justify-content: center;
    }
    .categ-card {
        width: 100px;
        height: 100px;  
    }
    .categ-name {
        font-size: 13px;
        font-weight: none;
    }
}

/* ====================== CARD PROMOS ====================== */
.promos {
    margin-top: 40px;
    text-align: center;
    color: #009970;
    font-weight: 700;
}

.product-link{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.ofertas {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.product-card {
    display: flex;
    width: 240px;
    /*flex-wrap: wrap;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
    transition: 0.5s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 140px;
    object-fit: contain;
    padding: 5px 5px 0px 5px;
}

.card-title {
    font-weight: 600;
    font-size: 15px !important ;  
    padding-bottom: 0;
    min-height: 20px;
}

.card-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.old-price {
    color: gray;
    text-decoration: line-through;
    font-size: 11px;
}

.new-price {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.ofertas-btn {
    width: 100%;
    background-color: #009970;
    cursor: pointer;
    border: none;
    padding: 8px;
}

.ofertas-btn:hover {
    background-color: #017b5b;
}

/* ====================== CARD DESTACADOS ====================== */
.card-price {
    display: flex;
    list-style: none;
}

.desta-price {
    font-weight: bold;
    font-size: 18px;
}

/* ====================== CARD Movil ====================== */

@media (max-width: 768px) {
    .ofertas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;  
        align-items: center;
    }
}